<footer class="page-footer">
	<div class="py-8 bg-primary doormat">
		<div class="container">
			<div class="flex flex-wrap items-center -mx-4">
				<div class="w-1/2 px-4 mt-4">
				<div class="flex items-center space-x-5">
					<a href="{{ siteUrl }}">
						{{ svg('@webroot/img/logo.svg')|attr({ class: 'w-full max-w-logo' }) }}
					</a>
					<h3 class="mt-5 text-white">{{ 'Datahub Racisme en Holebifobie'|t }}</h3>
				</div>
				</div>
				<div class="flex flex-wrap items-center justify-end w-1/2 px-4 mt-4 space-x-4">
					{% include '_snippet/_nav/_doormat' %}
				<div class="hidden md:flex md:space-x-4">
					<p class="text-white">|</p>
					{% include '_snippet/_nav/_language' %}
				</div>

				</div>
			</div>
		</div>
	</div>
	<div class="py-6 footer">
		<div class="container">
			<div class="flex flex-wrap justify-between">
				<div class="">
					<span>&copy;
						{{ now|date('Y') }}
						{{ systemName }}
						- Built with
						<span class="sr-only"> love </span>
						<svg class="icon text-primary" aria-hidden="true">
							<use xlink:href="/icon/sprite.svg#heart"></use>
						</svg>
						by
						<a target="_blank" rel="noopener" href="https://www.statik.be" class="hover:underline hover:text-primary">Statik</a>
					</span>
				</div>
				<div class="">
					<nav class="">
						<ul class="flex flex-wrap space-x-4">
							{% set cookiePage = craft.entries.section('cookiePolicy').one() %}
							{% if cookiePage %}
								<li>
									<a href="#" class="underline js-cookie-settings hover:no-underline" role="button">{{ 'Cookie-instellingen'|t }}</a>
								</li>
								<li class="">
									<a href="{{ cookiePage.url }}" class="underline hover:no-underline">{{ cookiePage.title }}</a>
								</li>
							{% endif %}
							{% set privacyPage = craft.entries.section('privacyPolicy').one() %}
							{% if privacyPage %}
								<li class="">
									<a href="{{ privacyPage.url }}" class="underline hover:no-underline">{{ privacyPage.title }}</a>
								</li>
							{% endif %}
							{% if socialMedia.facebook or socialMedia.instagram or socialMedia.linkedin or socialMedia.twitter or socialMedia.youtube %}
								<li class="">{{ 'Volg ons'|t }}</li>
							{% endif %}
						</ul>
					</nav>
					{% if socialMedia.facebook or  socialMedia.instagram or socialMedia.linkedin or socialMedia.twitter or socialMedia.youtube %}
						<div class="">
							<ul class="">
								{% include '_snippet/_content/_socialMedia' %}
							</ul>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
