{% extends "_layout" %}

{% block content %}
    
<div class="section section--default">
    <div class="container">
        <div class="w-full md:w-3/4">
            {% include '_snippet/_content/_pageTitle' %}
        </div>
    </div>
</div>

{% if entry.criteria|length %}
    <div class="section section--default">
        <div class="container">
            <div class="w-full p-8 bg-light">
                <p class="font-bold uppercase text-primary">{{ 'Criteria'|t }}</p>
                {% set criterias = entry.criteria %}
                {% for criteria in criterias %}
                    <p class="inline-block px-4 py-2 text-xs font-bold uppercase bg-white rounded-3xl">{{ criteria.title }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if entry.domeinen|length %}
    <div class="section section--default">
        <div class="container">
            <div class="w-full p-8 bg-light">
                <p class="font-bold uppercase text-primary">{{ 'Domeinen'|t }}</p>
                {% set domeinen = entry.domeinen %}
                {% for domein in domeinen %}
                    <p class="inline-block px-4 py-2 text-xs font-bold uppercase bg-white rounded-3xl">{{ domein.title }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<div class="section section--default">
    <div class="container">
        <div class="w-full p-8 bg-light">
            {% if entry.auteur|length %}
                <p class="font-bold uppercase text-primary">{{ 'Auteur'|t }}</p>
                {{ entry.auteur }}
            {% endif %}
        </div>
    </div>
</div>

<div class="section section--default">
    <div class="container">
        <div class="w-full p-8 bg-light">
            {% if entry.publicatiejaar|length %}
                <p class="font-bold uppercase text-primary">{{ 'Publicatiejaar'|t }}</p>
                {{ entry.publicatiejaar }}
            {% endif %}
        </div>
    </div>
</div>

<div class="section section--default">
    <div class="container">
        <div class="w-full p-8 bg-light">
            {% if entry.ligging|length %}
            <p class="font-bold uppercase text-primary">{{ 'Geografische ligging'|t }}</p>
                {% set liggings = entry.ligging %}
                    {% for ligging in liggings %}
                        <p class="inline-block px-4 py-2 text-xs font-bold uppercase bg-white rounded-3xl">{{ ligging.title }}</p>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="section section--default">
    <div class="container">
        <div class="w-full p-8 bg-light">
            {% if entry.data|length %}
            <p class="font-bold uppercase text-primary">{{ 'Soort data'|t }}</p>
                {% set datas = entry.data %}
                    {% for data in datas %}
                        <p class="inline-block px-4 py-2 text-xs font-bold uppercase bg-white rounded-3xl">{{ data.title }}</p>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="section section--default">
    <div class="container">
        <div class="w-full p-8 bg-light">
            {% if entry.opmerkingen|length %}
                <p class="font-bold uppercase text-primary">{{ 'Opmerkingen'|t }}</p>
                {{ entry.opmerkingen }}
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}